# built application files
*.apk
*.ap_

# files for the dex VM
*.dex

# Java class files
*.class

# generated GUI files
*R.java

# Copied from http://github.com/github/gitignore
gen
bin

hostserver/node_modules
